header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-bottom: 5px;
    border-style: solid;
    border-bottom-color: red;
    border-top-color: black;
    border-right-color: black;
    border-left-color: black;
}

header ul {
    list-style: none;
    display: flex;
    margin: 20px;
}

header ul li {
    margin: 0px 10px;
}

.header-button button:hover {
    cursor: pointer;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 4%;
}

.container #intro {
    margin-right: 20%;
    margin-left: 20%;
}

.container #job-text{
    max-width: 80%;
    line-height: 25px;
}

.container #school-text {
    max-width: 80%;
    line-height: 25px;
}

#rules-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rules-text {
    max-width: 70%;
    line-height: 25px;
}

.container #game-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: visible;
}

.game-btn {
    width: 15vw;
    height: 7.5vh;
    max-width: 100px;

    border-radius: 25%;
    font-size: auto;

    margin: 1vw;
}

#game-start-btn {
    background-color: #25c45a;
    margin: 3%;
}

#game {
    display: none;
}

#attempts {
    font-size: 350%;
}

#guess-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    margin: 2vh;
}

#game-buttons {
    margin: 2vh;
}

#btn-guess {
    background-color: #25c45a;
    border-color: white;
}

#btn-start-over {
    background-color: red;
    border-color: black;
}

#btn-guess, #btn-start-over:hover {
    cursor: pointer;
}

#guess-label {
    font-size: 130%;
}

#high-low {
    display: none;
}

.game-btn:hover {
    cursor: pointer;
}

#choose-game {
    position: absolute;
    right: 20px; /* Adjust distance from right */
    top: 100px;   /* Adjust distance from top */
}

.dropdown-container {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
}

#choose-game {
    padding: 5px;
    font-size: 16px;
}